*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main#app{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("bg.jpg");
    background-repeat: repeat;
}
main#app > img{
    height: 50vh;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
}

#buttons > a{
    background-color: #5865F2;
    padding: 7.5px 10px;
    border-radius: 5px;
    font-size: 1.3vw;
    width: 10vw;
    transition: all 0.2s ease-in-out;
    user-select: none;
    text-decoration: none;
}
#buttons > a:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #606ce9;
}

#logo {
    animation: bounce 5s ease-in-out infinite;
}

/* Responsive */
@media screen and (max-width: 1088px ){
    #buttons{
        width: 50vw;
    }

    #buttons > a{
        font-size: 2vw;
        width: 20vw;
    }
}

@media screen and (max-width: 650px ){
    #buttons{
        width: 80vw;
    }

    #buttons > a{
        font-size: 4vw;
        width: 30vw;
    }
}

@media screen and (max-width: 425px ){
    #buttons{
        width: 90vw;
    }

    #buttons > div{
        font-size: 5vw;
        width: 40vw;
    }
}

@media screen and (max-height: 1000px ) and (max-width: 500px){
    main#app > img{
        height: auto;
        width: 90vw;
    }
}

/* Animations */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}